#mainNav {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 35%, rgba(55, 55, 55, 1) 81%, rgba(66, 65, 65, 1) 100%);

}

#img {
    background-image: url("../../img/logo.png");
    width: 180px;
    height: 80px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-left: 50px;
}

#navbarResponsive{
    margin-right: 120px;
}

